# Dependencias
node_modules/

# Recordings de Playwright (testing)
videos/

# Carpetas que NO son del landing
Docs_Actualizados/
Documentantion/
IntroAnimation/*
!IntroAnimation/Final/
IntroAnimation/Final/*
!IntroAnimation/Final/FinalIntroIAMCWebsite.mp4
ReadyForDrive/

# Scripts de Python u otros scripts internos
*.py
record.js

# Archivos del brandbook y assets de branding internos
Branding/BrandBook1/
Branding/CreativeConcept.png
Branding/*.pdf

# Package lock (opcional, solo subir lo esencial)
package-lock.json
package.json
